Projects/VGameBackend/VGameWebApplication/Service References/FishHunterFormulaServiceReference/FormulaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1390/FormulaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VGame.Project.FishHunter.WCF" />
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VGame.Project.FishHunter.WCF" minOccurs="0" name="GetStateResult" type="q1:FormulaState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>